<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".sharePreferenceLogin.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigProject">
        <activity android:name=".Login_activity"/>
        <activity android:name=".account_view" />
        <activity android:name=".Setting" />
        <activity android:name=".signup" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FCategory.Edit_Category" />
        <activity android:name=".Add_Category_Activity" />
        <activity android:name=".add_event" />
        <activity android:name=".Detail_MonneyUsed" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>